.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #9d68b5;
background-image: linear-gradient(90deg, #9d68b5 0%, #4511e4 100%);

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-info {
  /* background-color: #4A19E2; */
  background-color: #9d68b5;
background-image: linear-gradient(90deg, #9d68b5 0%, #4511e4 100%);

  border-color: #4A19E2;
}

.btn-info:hover {
  background-color: #FE2492!important;
  border-color: #FE2492;

  background-image: none;
}

hr {
  background-color: #92939C;
}

.badge-secondary  {
  background-color: #6876E6;
}

.text-success {
  color: #86FF2F!important;
}

.bg-dark {
  background-color: #080C21!important;
  /* color: #303250; */
  color: white;
  text-decoration: none;
  border-top: 4px solid #92939C;
  height: 5rem;
}

/* .icono-home {
  color: #5491EA!important;
} */

.navbar {
  background-color: #080C21;
  color: white;
  height: 7rem;
}

.icono-nav {
  font-size: 1.7rem!important;
}

.btn-dark {
  background-color: transparent;
  border: none;
}

.btn-dark:hover {
  color: #FE2492!important;
}
.active {
  color: #FE2492!important;
}

.btn-dark a i:hover, .btn-dark a i:hover, .btn-dark a:hover, .btn-dark a p:hover {
  color: #FE2492!important;
  text-decoration: none;
}

.btn-dark a p {
  color: #fff!important;
  font-size: 16px;
}



.navbar .btn:hover {
  background-color: transparent!important;
}

.bg-primary {
  background-color: #174064!important;
}

.billetera-icon{
  color: #f2775a!important;
}

/* .shadow {
  -webkit-box-shadow: 2px 2px 18px 1px #6876E6!important; 
  box-shadow: 2px 2px 18px 1px #6876E6!important;
} */

.rounded {
  border-radius: 0px!important;
  border: 1px solid #080C21;
}

.text-gray {
  color: #92939C;
}

.text-blue {
  color: #181F39;
}

.rounded-top {
  border-color: #080c21;
}

.text-orange {
  color: #F7931A!important;
}

.shadow1 {
  /* -webkit-box-shadow: 12px 12px 0px -9px #28DD8B; 
  box-shadow: 12px 12px 0px -9px #28DD8B; */
  border-top: 3px outset #28DD8B;
/* outline-offset: 0px; */
}

.shadow2 {
  /* -webkit-box-shadow: 12px 12px 0px -9px #28DD8B; 
  box-shadow: 12px 12px 0px -9px #28DD8B; */
  border-bottom: 3px outset #28DD8B;
/* outline-offset: 0px; */
}

.rounded2 {
  border-radius: 25px!important;
  border: 1px solid #080C21;
  font-size: 16px;
}




